In [1]:
import pandas as pd
dataset = pd.read_csv(r"C:\Users\Ahsan\Downloads\electronics_prices.csv")
dataset.head(3)

            Product Name Category  Quantity  Unit Price  Total Price
0  Samsung Galaxy Tab S8  Tablets         3      899.99      2699.97
1  Samsung Galaxy Tab S8  Tablets         4      899.99      3599.96
2         Apple iPad Pro  Tablets         4     1099.00      4396.00

In [7]:
dataset.shape

(1000, 5)

In [8]:
input_data = dataset.iloc[:, :-1]
output_data = dataset["Total Price"]

In [12]:
from sklearn.model_selection import train_test_split

X_train , X_test , Y_train , Y_test = train_test_split(input_data,output_data,test_size=0.25)
X_train.shape , Y_train.shape

((750, 4), (750,))

In [14]:
X_test.shape ,  Y_test.shape

((250, 4), (250,))